body{
  background-color: #4D8FC3;
  color:#081012;
}

#title{
  margin-bottom: 10px;
}

.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #EF8A84;
  height: 200px;
  margin-bottom: 0px;
  border-radius: 3px;
}

.container{
  background: #4D8FC3;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 450px;
  width: 400px;
  text-align: center;
  margin: 100px auto 100px auto;
  border-radius: 10%;
}

.unit-display{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background: #037971;
  justify-content: space-evenly;
  height:264px;
}

.display{
  flex-direction: column;
  background: #E0AB9A;
  border-radius: 3px;
}

.header-d{
  margin-bottom: 5px;
}

footer{
  text-align: center;
}

.input-field{
  height: 50px;
  width: 70px;
  margin-bottom: 10px;
  background: #EF8A84;
  font-size:30px;
  color: white;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

footer{
  margin-top: 20px;
}
