body{
  color: #282828;
  background-color: whitesmoke;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.logo{
  size: 18px;
  font-weight: 700;
}

.icon{
  width: 25px;
}

nav{
  background-color: #282828;
  display: flex;
}

ul{
  display: flex;
  padding: 10px;
  list-style: none;
  background-color: #282828;
  color: whitesmoke;
}

h1{
  size: 40px;
  font-weight: 400;
}
