body, html{
  margin: 0;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-size: 21px;
}

.container{
  margin: 0 auto;
  width: 570px;
}

.avatar{
  border-radius: 50%;
  width: 300px;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 42px;
}

h3{
  font-size: 36px;
}
