.scoreboard{
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 700px;
  margin: 50px 50px 50px 50px;
}

.team, .penalty-quarter{
  display: flex;
  justify-content: space-between;
  width:600px;
}

.rw-btn{
  display: flex;

}

.home, .visitor{
  margin-right: 50px;
  border: 5px dotted black;
}

.timer{
  width: 600px;

}

.home{
  margin-left: 30px;
}

.time-display{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;

}

.visitor-score, .home-score{
  margin-bottom: 2px;
}

.home-foul-counter, .period-counter, .visitor-foul-counter{
  margin-bottom: 10px;
  border: 5px dotted black;

}

.penalty-quarter{
  margin-top: 18px;
}

.time-display{
  margin-top: 15px;
}
