body{
  background-color: #101b1e;
  color: #fcfdfd;
}

.class-container{
  background-color: #252113;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  margin:100px auto 30px auto;
  /* border: 5px dotted black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width:600px;
  height:550px;
}

.title{
  /* border: 5px dotted red; */
}

footer{
  text-align: center;
}

.result-container{
  background-color:#aa5a6e;
  border-radius: 10px;
  margin-top:20px;
  display:flex;
  justify-content: flex-start;
  align-items:center;
  height: 50px;
  width: 70%;
  font-size: 18px;
  letter-spacing: 1px;
	padding: 12px 10px;
  /* border: 5px dotted blue; */
  /* background-color: #23235B; */
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  justify-content: space-between;
}

.result-container .results {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.settings{
  margin-top: 20px;
  background-color: #5e3c31;
  border-radius: 10px;
  /* border:5px dotted black; */
  width: 72%;
}

.option{
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
}

#password-length{
  width:10%;
}

.button{
  background-color: #5e3c31;
  color: #fcfdfd;
  width: 30%;
  text-align: center;
  border:1px solid #4A4A4A;
  padding: 8px 24px;
  margin-top: 35px;
  border-radius: 50px;
}


.results{
  margin-left: 100px;
}
