body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    margin: 300px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E0E1DD;
    color: #0D1B2A;
    border-bottom: 6px solid #778DA9;
    border-radius: 10px;
    box-shadow: 18px 14px 45px 10px rgba(0,0,0,0.75);
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted #415A77;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
